@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');

#crawfox {
  #nav-bar {
    background-color: cla(bg);
  }

  #identity-permission-box {
    max-width: 28px;
    overflow: hidden;

    #blocked-permissions-container {
      display: none;
    }
  }

  toolbarbutton:hover,
  toolbarbutton[open],
  toolbarbutton[active] {
    cursor: pointer;

    > *:first-child {
      background-color: cl(primary, 0.6);
    }
  }

  #save-to-pocket-button,
  #fxa-toolbar-menu-button {
    display: none;
  }

  #urlbar-container {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    #urlbar {
      height: 100%;
      min-height: 10px;
      position: relative;
      top: unset;
      left: unset;
      background-color: cl(primary, .5);
      max-width: 700px;
      max-height: calc(100% - 8px);
      border-radius: 50px;
      transition: 0.25s ease-in-out;

      &[open] {
        max-width: 100%;
        max-height: 100%;
        border-radius: 0px;
        background-color: cla(primary);

        #urlbar-input-container {
          padding: 0 4px;

          #identity-icon-box {
            display: none;
          }

          #tracking-protection-icon-container,
          #identity-box,
          #page-action-buttons {
            opacity: 1;
            max-width: 90px;
          }

          .urlbar-input-box {
            margin-left: 0;

            #urlbar-input {
              text-align: start;
            }
          }
        }
      }

      #urlbar-input-container {
        height: 100%;
        padding: 0;
        transition: .2s ease-in-out;

        #tracking-protection-icon-container,
        #identity-box,
        #page-action-buttons {
          opacity: 0;
          overflow: hidden;
          max-width: 0px;
          transition: .2s ease-in-out;
        }

        .urlbar-input-box {
          margin-left: -3px;
          transition: .2s ease-in-out;

          #urlbar-input {
            text-align: center;
            font-family: 'Inconsolata', monospace;
            letter-spacing: -1px;

            &::selection {
              background-color: cla(primary);
            }

            &::placeholder {
              opacity: 1;
            }
          }
        }
      }

      .urlbarView {
        position: absolute;
        background-color: cla(bg);
        backdrop-filter: blur(4px);

        .urlbarView-row {
          border-radius: 0;
          cursor: pointer;

          &:hover {
            background-color: cl(primary, .4);
          }

          &[selected] {
            background-color: cl(primary, .6);
          }
        }

        .search-one-offs {
          display: none;
        }
      }

      #urlbar-background {
        display: none;
      }
    }
  }
}
